<form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
        <div class="card-container">
     
                <mat-toolbar class="mat-toolbar-login" color="primary"> 
                        <h3>Login</h3>
                        <button mat-icon-button > 
                                <mat-icon>lock</mat-icon>
                              </button>
                </mat-toolbar>
            
                <mat-card class="card-content"> 
                      
                         
              <mat-card-header>
                   
              </mat-card-header>
            
              <mat-card-content>
                <div class="card-container" *ngIf="isLoginError" [@enterAnimation]>
                    <mat-card class="card-content-error-message alert alert-danger alert-dismissible">
                        Nombre de usuario o contraseña inválidos.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isLoginError = !isLoginError">
                            <span aria-hidden="true">×</span>
                          </button>
                    </mat-card>
                </div>
                <p></p>
                  <div>
                  <mat-form-field class="full-width">
                      <span matPrefix><mat-icon>account_box</mat-icon> &nbsp; </span>
                      <input matInput type="text" 
                      name="UserName"
                      [(ngModel)]="usuario.UserName" 
                      required 
                      #UserName="ngModel"
                      width="auto"
                      placeholder="Usuario">
                  </mat-form-field>  
                 </div>
                  <div>
                      <mat-form-field class="full-width">
                           <span matPrefix><mat-icon>vpn_key</mat-icon> &nbsp; </span>
                           <input matInput type="password" 
                           name="Password"
                           [(ngModel)]="usuario.Password"  
                           required 
                           #Password="ngModel"
                          placeholder="Contraseña">
                      </mat-form-field>
                  </div>
                   
                 
              </mat-card-content>
            
              <mat-card-actions>
            
                <div>
                     <button mat-raised-button  color="primary" type="submit" [disabled]="!formLogin.valid">Iniciar Sesión</button>
                     <button mat-raised-button>¿Olvidaste tu Contraseña?</button>
                </div>
            
              </mat-card-actions>
                </mat-card>
            </div>

           

</form>

{{ usuario | json }}

<!--Notifications-->
<jqxNotification #msgNotification
                 [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false"
                 [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'info'">
  <div>
      <span id="currentMsg"></span>
  </div>
</jqxNotification>